# logs & outputs
edgebench/logs/**
!edgebench/logs/raw/**/.gitkeep
!edgebench/logs/raw/**/.gitkeep
!edgebench/logs/runs/**/.gitkeep

# env
edgebench/env/**
!edgebench/env/**/.gitkeep

# python
__pycache__/
*.pyc
.venv/
.conda/
